<?xml version="1.0"?>
<!--
//**************************************************************************
// <copyright file="App.config" company="Microsoft">
//     Copyright (c) Microsoft Corporation.  All rights reserved.
// </copyright>
//**************************************************************************

//**************************************************************************
// @Owner: jigramli
// @Test:
//
// Purpose:
// This file represents DMS process configuration.
//
// Notes/Assumptions/Dependencies:
// none
//
// @EndHeader@
//**************************************************************************
-->
<configuration>
  <configSections>
    <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling, Version=5.1.1209.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="ObjectFactory" type="Microsoft.SqlServer.DataWarehouse.Common.Ioc.ObjectFactoryConfigurationSection, Microsoft.SqlServer.DataWarehouse.Common" />
    <sectionGroup name="system.transactions" type="System.Transactions.Configuration.TransactionsSectionGroup, System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" >
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <RetryPolicyConfiguration defaultRetryStrategy="Exponential Backoff Retry Strategy" defaultSqlConnectionRetryStrategy="Exponential Backoff Retry Strategy" defaultSqlCommandRetryStrategy="Exponential Backoff Retry Strategy">
    <incremental name="Incremental Retry Strategy" />
    <fixedInterval name="Fixed Interval Retry Strategy" />
    <exponentialBackoff name="Exponential Backoff Retry Strategy" maxRetryCount="10" minBackoff="00:00:01" maxBackoff="00:03:00" deltaBackoff="00:00:05" firstFastRetry="false" />
  </RetryPolicyConfiguration>
  <typeRegistrationProvidersConfiguration>
    <clear />
    <add name="Caching" sectionName="cachingConfiguration" />
    <add name="Cryptography" sectionName="securityCryptographyConfiguration" />
    <add name="Exception Handling" sectionName="exceptionHandling" />
    <add name="Instrumentation" sectionName="instrumentationConfiguration" />
    <add name="Logging" sectionName="loggingConfiguration" />
    <add name="Policy Injection" sectionName="policyInjection" />
    <add name="Security" sectionName="securityConfiguration" />
    <add name="Data Access" providerType="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSyntheticConfigSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <add name="Validation" providerType="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationTypeRegistrationProvider, Microsoft.Practices.EnterpriseLibrary.Validation" />
    <add sectionName="RetryPolicyConfiguration" name="RetryPolicyConfiguration" />
  </typeRegistrationProvidersConfiguration>
  <appSettings>
    <add key="SqlDumperAssembly" value="Microsoft.SqlServer.MgdSqlDumper, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    <add key="RemotableFailoverObjectUri" value="DmsFailover" />
    <add key="InactivityTimeoutPeriod" value="600000" />
    <add key="DMSSecurityUserType" value="Machine" />
    <add key="DMSSecurityGroup" value="PdwDataMovementAccess" />
    <add key="DMSSecurityLocalAccount" value="NT AUTHORITY\NETWORK SERVICE" />
    <add key="DmsClusteredRestartExecutable" value="dmsclusteredrestart.exe" />
    <add key="DMSResourceName" value="&quot;SQL Server PDW Data Movement&quot;" />
    <add key="EventManagerSecurityGroupPath" value="CN=PdwDataMovementAccess, CN=Users" />
    <add key="EventManagerSecurityGroup" value="PdwDataMovementAccess" />
    <add key="EventManagerSecurityLocalAccount" value="NT AUTHORITY\NETWORK SERVICE" />
    <add key="LoopbackFastpath" value="true" />
    <add key="UseNamedPipeConnection" value="true" />
    <add key="TcpKeepAliveTime" value="30000" />
    <add key="TcpKeepAliveTimeInterval" value="1000" />
    <add key="SqlServiceStateCheckRetryCount" value="3" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" useGlobalLock="true">
      <listeners>
        <!-- Create SqlDumper for failed assertion -->
        <add type="Microsoft.SqlServer.DataWarehouse.Common.Diagnostics.Tracing.SqlDumperTraceListener, Microsoft.SqlServer.DataWarehouse.Common" name="SqlDumperTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <ObjectFactory xmlns:Invoke="Microsoft.SqlServer.DataWarehouse.Common.Ioc.MethodConfigurationProvider, Microsoft.SqlServer.DataWarehouse.Common" xmlns:Set="Microsoft.SqlServer.DataWarehouse.Common.Ioc.PropertyConfigurationProvider, Microsoft.SqlServer.DataWarehouse.Common" xmlns:Parameter="Microsoft.SqlServer.DataWarehouse.Common.Ioc.ParameterConfigurationProvider, Microsoft.SqlServer.DataWarehouse.Common" xmlns:Item="Microsoft.SqlServer.DataWarehouse.Common.Ioc.ParameterConfigurationProvider, Microsoft.SqlServer.DataWarehouse.Common" xmlns:NameRef="Microsoft.SqlServer.DataWarehouse.Common.Ioc.ParameterConfigurationProvider, Microsoft.SqlServer.DataWarehouse.Common" xmlns:TypeRef="Microsoft.SqlServer.DataWarehouse.Common.Ioc.ParameterConfigurationProvider, Microsoft.SqlServer.DataWarehouse.Common" xmlns:Event="Microsoft.SqlServer.DataWarehouse.Common.Ioc.PropertyConfigurationProvider, Microsoft.SqlServer.DataWarehouse.Common">
    <Includes>
      <Include Path=".\DMSDiagnosticsConfig.xml" />
      <Include Path=".\Test.xml" IsOptional="true" IsExtension="true" />
      <Include Path=".\Test-DiagnosticsConfig.xml" IsOptional="true" />
      <Include Path=".\ExternalAccessConfig.xml" />
      <Include Path=".\ExternalWorkersConfig.xml" />
    </Includes>
    <Types Filter="Full,Xdb,Polybase">
      <Type Alias="IFabricProperties" Name="Microsoft.SqlServer.DataWarehouse.Fabric.IFabricProperties, Microsoft.SqlServer.DataWarehouse.Fabric.Interface" />
      <Type Alias="ApplianceFabricProperties" Name="Microsoft.SqlServer.DataWarehouse.Fabric.ApplianceFabricProperties, Microsoft.SqlServer.DataWarehouse.Fabric.Appliance" FilterOverride="Full" />
      <Type Alias="PolybaseFabricProperties" Name="Microsoft.SqlServer.DataWarehouse.Fabric.PolybaseFabricProperties, Microsoft.SqlServer.DataWarehouse.Fabric.Polybase" FilterOverride="Polybase" />
      <Type Alias="XdbFabricProperties" Name="Microsoft.SqlServer.DataWarehouse.Fabric.Xdb.XdbFabricProperties, Microsoft.SqlServer.DataWarehouse.Fabric.Xdb" FilterOverride="Xdb" />
      <Type Alias="IXdbFabricInterface" Name="Microsoft.SqlServer.DataWarehouse.Fabric.XdbInterface.IXdbFabricInterface, Microsoft.SqlServer.DataWarehouse.Fabric.XdbInterface" FilterOverride="Xdb" />
      <Type Alias="XdbFabricInterface" Name="Microsoft.SqlServer.DataWarehouse.Fabric.XdbInterface.XdbFabricInterface, Microsoft.SqlServer.DataWarehouse.Fabric.XdbInterface.Implementation" FilterOverride="Xdb" />
      <Type Alias="IXdbTransientErrorDetectionStrategy" Name="Microsoft.SqlServer.DataWarehouse.Fabric.XdbInterface.IXdbTransientErrorDetectionStrategy, Microsoft.SqlServer.DataWarehouse.Fabric.XdbInterface" FilterOverride="Xdb" />
      <Type Alias="XdbSqlTransientErrorDetectionStrategy" Name="Microsoft.SqlServer.DataWarehouse.Fabric.XdbInterface.XdbSqlTransientErrorDetectionStrategy, Microsoft.SqlServer.DataWarehouse.Fabric.XdbInterface.Implementation" FilterOverride="Xdb" />
      <Type Alias="XdbResolverTransientErrorDetectionStrategy" Name="Microsoft.SqlServer.DataWarehouse.Fabric.XdbInterface.XdbResolverTransientErrorDetectionStrategy, Microsoft.SqlServer.DataWarehouse.Fabric.XdbInterface.Implementation" FilterOverride="Xdb" />
      <Type Alias="IFabricTransientErrorDetectionStrategy" Name="Microsoft.SqlServer.DataWarehouse.Fabric.IFabricTransientErrorDetectionStrategy, Microsoft.SqlServer.DataWarehouse.Fabric.Interface" />
      <Type Alias="XdbTransientErrorDetectionStrategy" Name="Microsoft.SqlServer.DataWarehouse.Fabric.Xdb.XdbTransientErrorDetectionStrategy, Microsoft.SqlServer.DataWarehouse.Fabric.Xdb" FilterOverride="Xdb" />
      <Type Alias="ApplianceTransientErrorDetectionStrategy" Name="Microsoft.SqlServer.DataWarehouse.Fabric.ApplianceTransientErrorDetectionStrategy, Microsoft.SqlServer.DataWarehouse.Fabric.Appliance" FilterOverride="Full,Polybase" />
      <Type Alias="IXdbWinfabPropertyReader" Name="Microsoft.SqlServer.DataWarehouse.Fabric.XdbInterface.IXdbWinfabPropertyReader, Microsoft.SqlServer.DataWarehouse.Fabric.XdbInterface" FilterOverride="Xdb" />
      <Type Alias="XdbWinfabPropertyReader" Name="Microsoft.SqlServer.DataWarehouse.Fabric.XdbWinfabPropertyReader, Microsoft.SqlServer.DataWarehouse.Fabric.Xdb" FilterOverride="Xdb" />
      <Type Alias="FabricResolver" Name="Microsoft.SqlServer.DataWarehouse.Configuration.FabricPropertyResolver, Microsoft.SqlServer.DataWarehouse.Configuration" />
      <Type Alias="IPropertyResolver" Name="Microsoft.SqlServer.DataWarehouse.Configuration.IPropertyResolver, Microsoft.SqlServer.DataWarehouse.Configuration" />
      <Type Alias="IProperty" Name="Microsoft.SqlServer.DataWarehouse.Common.Configuration.IProperty`1, Microsoft.SqlServer.DataWarehouse.Common" />
      <Type Alias="ConfigProperty" Name="Microsoft.SqlServer.DataWarehouse.Configuration.ConfigProperty`1, Microsoft.SqlServer.DataWarehouse.Configuration" />
      <Type Alias="StringConfigProperty" Name="Microsoft.SqlServer.DataWarehouse.Configuration.ConfigProperty`1[[System.String]], Microsoft.SqlServer.DataWarehouse.Configuration" />
      <Type Alias="IntConfigProperty" Name="Microsoft.SqlServer.DataWarehouse.Configuration.ConfigProperty`1[[System.Int32]], Microsoft.SqlServer.DataWarehouse.Configuration" />
      <Type Alias="BoolConfigProperty" Name="Microsoft.SqlServer.DataWarehouse.Configuration.ConfigProperty`1[[System.Boolean]], Microsoft.SqlServer.DataWarehouse.Configuration" />
      <Type Alias="DwConfigurationPropertyResolver" Name="Microsoft.SqlServer.DataWarehouse.Configuration.Entity.DwConfigurationPropertyResolver, Microsoft.SqlServer.DataWarehouse.Configuration" />
      <Type Alias="ObjectPropertyDecorator" Name="Microsoft.SqlServer.DataWarehouse.Common.IoC.ObjectPropertyDecorator, Microsoft.SqlServer.DataWarehouse.Common" />
      <Type Alias="IService" Name="Microsoft.SqlServer.DataWarehouse.Common.Service.IService, Microsoft.SqlServer.DataWarehouse.Common" />
      <Type Alias="ApplicationEventTrigger" Name="Microsoft.SqlServer.DataWarehouse.Common.Diagnostics.ApplicationEventTrigger, Microsoft.SqlServer.DataWarehouse.Common" />
      <Type Alias="PolybaseUtilities" Name="Microsoft.SqlServer.DataWarehouse.Hadoop.HadoopBridge.PolybaseUtilities, Microsoft.SqlServer.DataWarehouse.Hadoop.HadoopBridge" />
      <Type Alias="IEndpointConnectionResolver" Name="Microsoft.SqlServer.DataWarehouse.Fabric.IEndpointConnectionResolver, Microsoft.SqlServer.DataWarehouse.Fabric.Interface" />
      <Type Alias="EndpointConnectionResolver" Name="Microsoft.SqlServer.DataWarehouse.Fabric.Appliance.EndpointConnectionResolver, Microsoft.SqlServer.DataWarehouse.Fabric.Appliance" FilterOverride="Full" />
      <Type Alias="XdbEndpointConnectionResolver" Name="Microsoft.SqlServer.DataWarehouse.Fabric.Xdb.XdbEndpointConnectionResolver, Microsoft.SqlServer.DataWarehouse.Fabric.Xdb" FilterOverride="Xdb" />
      <Type Alias="PolybaseEndpointConnectionResolver" Name="Microsoft.SqlServer.DataWarehouse.Fabric.PolybaseEndpointConnectionResolver, Microsoft.SqlServer.DataWarehouse.Fabric.Polybase" FilterOverride="Polybase" />
      <Type Alias="ISqlConnectionProvider" Name="Microsoft.SqlServer.DataWarehouse.Fabric.ISqlConnectionProvider, Microsoft.SqlServer.DataWarehouse.Fabric.Interface" />
      <Type Alias="SqlConnectionProvider" Name="Microsoft.SqlServer.DataWarehouse.Fabric.Appliance.SqlConnectionProvider, Microsoft.SqlServer.DataWarehouse.Fabric.Appliance" FilterOverride="Full" />
      <Type Alias="XdbSqlConnectionProvider" Name="Microsoft.SqlServer.DataWarehouse.Fabric.Xdb.XdbSqlConnectionProvider, Microsoft.SqlServer.DataWarehouse.Fabric.Xdb" FilterOverride="Xdb" />
      <Type Alias="PolybaseSqlConnectionProvider" Name="Microsoft.SqlServer.DataWarehouse.Fabric.PolybaseSqlConnectionProvider, Microsoft.SqlServer.DataWarehouse.Fabric.Polybase" FilterOverride="Polybase" />
      <Type Alias="ITransactionProvider" Name="Microsoft.SqlServer.DataWarehouse.Fabric.Transactions.ITransactionProvider, Microsoft.SqlServer.DataWarehouse.Fabric.Interface" />
      <Type Alias="ApplianceTransactionProvider" Name="Microsoft.SqlServer.DataWarehouse.Fabric.Transactions.ApplianceTransactionProvider, Microsoft.SqlServer.DataWarehouse.Fabric.Appliance" FilterOverride="Full,PolybaseNativeWindows" />
      <Type Alias="NullTransactionProvider" Name="Microsoft.SqlServer.DataWarehouse.NullTransaction.NullTransactionProvider, Microsoft.SqlServer.DataWarehouse.NullTransaction" FilterOverride="Xdb,PolybaseCrossPlatform" />
      <Type Alias="IResourceClassAllocationMap" Name="Microsoft.SqlServer.DataWarehouse.Resources.IResourceClassAllocationMap, Microsoft.SqlServer.DataWarehouse.ResourceManagement" />
      <Type Alias="RCAllocationMap" Name="Microsoft.SqlServer.DataWarehouse.Resources.RCAllocationMap, Microsoft.SqlServer.DataWarehouse.ResourceManagement" />
      <Type Alias="XdbRCAllocationMap" Name="Microsoft.SqlServer.DataWarehouse.Fabric.Xdb.XdbRCAllocationMap, Microsoft.SqlServer.DataWarehouse.Fabric.Xdb" FilterOverride="Xdb" />
      <Type Alias="IResourceToken" Name="Microsoft.SqlServer.DataWarehouse.Resources.IResourceToken, Microsoft.SqlServer.DataWarehouse.ResourceManagement" />
      <Type Alias="ResourceToken" Name="Microsoft.SqlServer.DataWarehouse.Resources.ResourceToken, Microsoft.SqlServer.DataWarehouse.ResourceManagement" FilterOverride="Xdb" />
      <Type Alias="IResourcePolicyManager" Name="Microsoft.SqlServer.DataWarehouse.Resources.IResourcePolicyManager, Microsoft.SqlServer.DataWarehouse.ResourceManagement" />
      <Type Alias="ResourcePolicyManager" Name="Microsoft.SqlServer.DataWarehouse.Resources.ResourcePolicyManager, Microsoft.SqlServer.DataWarehouse.ResourceManagement" />
      <Type Alias="XdbResourcePolicyManager" Name="Microsoft.SqlServer.DataWarehouse.Fabric.Xdb.XdbResourcePolicyManager, Microsoft.SqlServer.DataWarehouse.Fabric.Xdb" FilterOverride="Xdb" />
    </Types>
    <Objects Filter="Full,Xdb,Polybase">
      <Object Name="CurrentAppDomain" Type="System.AppDomain" Lifecycle="Singleton">
        <Constructor FactoryType="System.AppDomain" FactoryMethod="CurrentDomain" IsStaticFactory="true" />
      </Object>
      <Object Name="BaseDirectory" Type="string">
        <Constructor FactoryName="CurrentAppDomain" FactoryMethod="BaseDirectory" />
      </Object>
      <!-- Appliance version of the fabric properties are loaded from registry. -->
      <Object Name="ApplianceFabricProperties" Type="IFabricProperties" AsType="ApplianceFabricProperties" Lifecycle="Singleton" FilterOverride="Full">
        <Set:WorkingDirectory ObjectName="BaseDirectory" />
        <Set:LoggingDirectory>${HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Microsoft SQL Server Parallel Data Warehouse\Configuration\LogPath}</Set:LoggingDirectory>
        <Set:SqlInstanceTdsPort>1433</Set:SqlInstanceTdsPort>
        <Set:DmsDiagnosticsPort>16650</Set:DmsDiagnosticsPort>
        <Set:CtlDiagnosticsPort>16650</Set:CtlDiagnosticsPort>
        <Set:DmsDataChannelPort>16550</Set:DmsDataChannelPort>
        <Set:DmsControlChannelPort>16450</Set:DmsControlChannelPort>
      </Object>
      <!-- Appliance version of the fabric transient error detection strategy. -->
      <Object Name="ApplianceTransientErrorDetectionStrategy" Type="IFabricTransientErrorDetectionStrategy" AsType="ApplianceTransientErrorDetectionStrategy" Lifecycle="Singleton" FilterOverride="Full,Polybase" />
      <!-- Polybase version of the fabric properties are loaded from registry. -->
      <Object Name="PolybaseFabricProperties" Type="IFabricProperties" AsType="PolybaseFabricProperties" Lifecycle="Singleton" FilterOverride="Polybase">
        <Set:WorkingDirectory ObjectName="BaseDirectory" />
      </Object>
      <!-- Xdb version of the fabric properties are loaded via runtime WinFab property lookups in code. -->
      <Object Name="XdbFabricProperties" Type="IFabricProperties" AsType="XdbFabricProperties" Lifecycle="Singleton" FilterOverride="Xdb" />
      <!-- The Xdb fabric interface implementation is loaded via runtime WinFab property lookups in code. -->
      <Object Name="XdbFabricInterface" Type="IXdbFabricInterface" AsType="XdbFabricInterface" Lifecycle="Singleton" FilterOverride="Xdb" />
      <!-- Xdb version of the fabric transient error detection strategy. -->
      <Object Name="XdbTransientErrorDetectionStrategy" Type="IFabricTransientErrorDetectionStrategy" AsType="XdbTransientErrorDetectionStrategy" Lifecycle="Singleton" FilterOverride="Xdb" />
      <!-- Xdb implementations of the resolver and sqlconnection specific transient error detection strategies. -->
      <Object Name="XdbSqlTransientErrorDetectionStrategy" Type="IXdbTransientErrorDetectionStrategy" AsType="XdbSqlTransientErrorDetectionStrategy" Lifecycle="Singleton" FilterOverride="Xdb" />
      <Object Name="XdbResolverTransientErrorDetectionStrategy" Type="IXdbTransientErrorDetectionStrategy" AsType="XdbResolverTransientErrorDetectionStrategy" Lifecycle="Singleton" FilterOverride="Xdb" />
      <Object Name="XdbWinfabPropertyReader" Type="IXdbWinfabPropertyReader" AsType="XdbWinfabPropertyReader" Lifecycle="Singleton" FilterOverride="Xdb" />
      <Object Name="AppEndpointConnectionResolver" Type="IEndpointConnectionResolver" AsType="EndpointConnectionResolver" Lifecycle="Singleton" FilterOverride="Full" />
      <Object Name="AppSqlConnectionProvider" Type="ISqlConnectionProvider" AsType="SqlConnectionProvider" Lifecycle="Singleton" FilterOverride="Full" />
      <Object Name="XdbEndpointConnectionResolver" Type="IEndpointConnectionResolver" AsType="XdbEndpointConnectionResolver" Lifecycle="Singleton" FilterOverride="Xdb" />
      <Object Name="XdbSqlConnectionProvider" Type="ISqlConnectionProvider" AsType="XdbSqlConnectionProvider" Lifecycle="Singleton" FilterOverride="Xdb" />
      <Object Name="PolybaseEndpointConnectionResolver" Type="IEndpointConnectionResolver" AsType="PolybaseEndpointConnectionResolver" Lifecycle="Singleton" FilterOverride="Polybase">
        <Constructor>
          <Parameter ObjectName="PolybaseFabricProperties" />
        </Constructor>
      </Object>
      <Object Name="PolybaseSqlConnectionProvider" Type="ISqlConnectionProvider" AsType="PolybaseSqlConnectionProvider" Lifecycle="Singleton" FilterOverride="Polybase">
        <Constructor>
          <Parameter ObjectName="PolybaseFabricProperties" />
        </Constructor>
      </Object>
      <Object Name="ApplianceTransactionProvider" Type="ITransactionProvider" AsType="ApplianceTransactionProvider" Lifecycle="Singleton" FilterOverride="Full,PolybaseNativeWindows" />
      <Object Name="NullTransactionProvider" Type="ITransactionProvider" AsType="NullTransactionProvider" Lifecycle="Singleton" FilterOverride="Xdb,PolybaseCrossPlatform" />
      <Object Type="ObjectPropertyDecorator" Name="DwConfigurationDecorator">
        <Method Name="AddProperty">
          <Parameter Type="string">Resolver</Parameter>
          <Parameter ObjectName="DwConfigurationPropertyResolver" />
        </Method>
      </Object>
      <Object Type="ObjectPropertyDecorator" Name="FabricConfigurationDecorator">
        <Method Name="AddProperty">
          <Parameter Type="string">Resolver</Parameter>
          <Parameter ObjectName="FabricResolverPropertyResolver" />
        </Method>
      </Object>
      <Object Type="IPropertyResolver" AsType="FabricResolver" Name="FabricResolverPropertyResolver" Lifecycle="Singleton" />
      <Object Type="IProperty" AsType="IntConfigProperty" Name="DmsControlChannelPort" Decorator="FabricConfigurationDecorator" Lifecycle="Singleton" />
      <Object Type="IProperty" AsType="IntConfigProperty" Name="DmsDataChannelPort" Decorator="FabricConfigurationDecorator" Lifecycle="Singleton" />
      <Object Extends="EventManager">
        <Set:ServicePort ObjectName="DmsDiagnosticsPort" />
        <Invoke:Initialize />
      </Object>
      <Object Extends="EventManagerService">
        <Invoke:Start />
      </Object>
      <!-- Initialize the trace events for polybase. -->
      <Object Name="PolybaseTraceFlags" Type="ApplicationEventTrigger" Lifecycle="Singleton">
        <Constructor FactoryType="PolybaseUtilities" FactoryMethod="InitializeTraceFlags" IsStaticFactory="true" />
      </Object>
      <!--Initilize resource allocation map in XDB mode with a resource token. -->
      <Object Name="ResourceAllocationMap" Type="IResourceClassAllocationMap" AsType="XdbRCAllocationMap" FilterOverride="Xdb">
        <Constructor>
          <Parameter ObjectName="ResourceToken" />
        </Constructor>
      </Object>
      <!--Initilize resource resource token in XDB mode with initial values for
      number of compute nodes, number of distributions, node scale factor, concurrency slots per node, max concurrency slots per request, dynamic workload group FS config,
      max supported query, max supported load and compute node resource allocation factor.
      A resource token is initially created with these values and once snapshot is established these property are read from fabric app params and resource token is updated. -->
      <Object Name="ResourceToken" Type="IResourceToken" AsType="ResourceToken" FilterOverride="Xdb">
        <Constructor>
          <Parameter:Int>1</Parameter:Int>
          <Parameter:Int>60</Parameter:Int>
          <Parameter:Int>1</Parameter:Int>
          <Parameter:Int>4</Parameter:Int>
          <Parameter:Int>128</Parameter:Int>
          <Parameter:Bool>False</Parameter:Bool>
          <Parameter:Int>32</Parameter:Int>
          <Parameter:Int>32</Parameter:Int>
          <Parameter:Int>100</Parameter:Int>
          <Parameter:Double>0.08</Parameter:Double>
        </Constructor>
      </Object>
      <Object Name="ResourcePolicyManager" Type="IResourcePolicyManager" AsType="ResourcePolicyManager" Lifecycle="Singleton" FilterOverride="Full,Polybase" />
      <Object Name="ResourceAllocationMap" Type="IResourceClassAllocationMap" AsType="RCAllocationMap" FilterOverride="Full,Polybase">
        <Constructor>
          <Parameter:int>32</Parameter:int>
          <Parameter:int>1</Parameter:int>
          <Parameter:int>3</Parameter:int>
          <Parameter:int>7</Parameter:int>
          <Parameter:int>22</Parameter:int>
        </Constructor>
      </Object>
    </Objects>
    <Bootstrap Filter="NonXdb">
      <Init ObjectName="EventManager" IsRequired="true" />
      <Init ObjectName="EventManagerService" IsRequired="true" />
      <Init ObjectName="PolybaseTraceFlags" IsRequired="true" />
    </Bootstrap>
  </ObjectFactory>
  <runtime>
    <gcServer enabled="true" />
    <generatePublisherEvidence enabled="false" />
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <!-- Appliance-only entries-->
  </runtime>
  <system.transactions>
    <machineSettings maxTimeout="00:00:00" />
  </system.transactions>
</configuration>